//colorsxxx`
$color-pri-1: #8C0000;
$color-pri-2: #BD2000;
$color-pri-3: #FA1E0E;
$color-pri-4: #FFBE0F;
$color-grey-lightest: #f9f9f9;
$color-grey-light: #eee;
$color-grey-dark: #555;
$color-white: #fff;
$color-black: #000;